*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(162, 113, 207, 0.691);
    padding: 15px;
    height: 650px;

}

.item{
    background-color: rgba(122, 230, 194, 0.787);
    margin: 15px;
    padding: 15px;
    width: 150px;
}

.imagenes{
    height: 100px;
}

.Shrek{
    order: 4;
    align-self: center;
}

.Burro{
    order: 2;
    align-self: center;
}

.Fiona{
    order: 0;
    align-self: stretch;
}

.Gato{
    order: 1;
    align-self: flex-end;
}

.Pinocho{
    order: 3;
    align-self: flex-start;
}



